*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.logo h1{
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 42px;
}
.fleche{
    display: flex;
    justify-content: flex-start;
    margin: -62px 0 25px 20px;
    transition: transform .3s;
}
.fleche:hover{
    transform: scale(1.4) rotate(1turn);
}
.bg_img{
    width: 100%;
    object-fit: cover;
}
#container{
    display: flex;
    flex-direction: column;
    background: #f7f6f7;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    position: relative;
}
.main_titre h3{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-weight: normal;
    margin: 30px 0 10px 20px;
}


.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 25;
    stroke: black;
    fill: white;
    cursor: pointer;
}

.heart_fill {
    width: 24px;
    position: absolute;
    right: 35px;
    top: 40px;
    fill: url(#grad_fill);
    stroke: none;
}
.heart_out {
    width: 24px;
    position: absolute;
    right: 35px;
    top: 40px;
}

.heart_out:hover {
    opacity: 0;
    transition: 0.5s;
}
.repas{
  display: flex;
  flex-direction: column;
}
.menu_liste{
    display: flex;
    flex-direction: column;
}
.ent_titre h3{
    position: relative;
    font-size: 18px;
    color: #7a7a7b;
    font-weight: 500;
    margin: 30px 0 22px 20px;
}
.ent_titre h3::after {
    content: '';
    width: 50px;
    height: 4px;
    background: #99e2d0;
    position: absolute;
    z-index: 20;
    left: 0px;
    bottom: -8px;
  }

  .menu_tab {
    margin: 10px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px 0px rgb(202, 202, 202);
  }
  
  .menu_tab:hover .cocher {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-left 0.5s ease;
    transform-origin: right;
  }
  
  .menu_tab:hover .item_prix {
    padding-right: 70px;
    transition: 0.5s ease;
  }
  
  .menu_tab .cocher {
    display: none;
    position: absolute;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    right: 0px;
    padding: 0 13px;
    height: 100%;
  }
  
  .menu_tab .cocher i {
    font-size: 30px;
    color: white;
    transform: rotate(1turn);
    animation: rotate 0.5s both;
  }
  
  .menu_item {
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .menu_item p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .item_nom {
    font-weight: bold;
  }
  
  .item_prix {
    padding-right: 20px;
    font-weight: bold;
    padding-left: 7px;
  }
  .menu_prix {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes slide-left {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    100% {
      -webkit-transform: scaleX(-50px);
              transform: scaleX(-50px);
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
 
  .opacite {
            animation: opacity 1s both;
  }
  
  #bar01 {
            animation-delay: 0.1s;
  }
  #bar02 {
            animation-delay: 0.2s;
  }
  #bar03 {
            animation-delay: 0.3s;
  }
  
  #bar04 {
            animation-delay: 0.4s;
  }
  #bar05 {
            animation-delay: 0.5s;
  }
  #bar06 {
            animation-delay: 0.6s;
  }
  
  #bar07 {
            animation-delay: 0.7s;
  }
  #bar08 {
            animation-delay: 0.8s;
  }
  #bar09 {
            animation-delay: 0.9s;
  }
  #bar09 {
            animation-delay: 1s;
  }
  

.command{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0 90px 0;
    background-color: #f7f6f7;
}
.commander{
    width: 200px;
    margin: auto;
    padding: 15px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    background-image: linear-gradient(#ff79da, #9356DC);
    color: white;
    box-shadow: 2px 2px 15px 0px rgb(190, 190, 190);
    cursor: pointer;
    transition: all 1s;
}
.commander:hover{
    background-image: linear-gradient(#9356DC, #ff79da);
    box-shadow: 2px 2px 15px 0px rgb(24, 24, 24);
}

footer{
    background: #343534;
    padding: 30px 20px 40px 20px;
}
.foot_logo h3{
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin-bottom: 10px;
}
.foot_liste li{
    text-decoration: none;
    list-style: none;
    line-height: 30px;
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, #9356DC 50%, #cc2e5d);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}
.foot_liste li:hover{
    background-position: -100%;
}
.propose::before{
    content: url(icons/fourch01.png);
}
.partenaire::before{
    content: url(icons/partner01.png);
}



/*------media queries--------*/

@media (min-width: 600px) and (max-width: 992px){

  .bg_img{
      height: 50vh;
  }

  #container{
      margin-top: -10vh;
  }

}
@media (min-width: 993px){

  .bg_img{
      height: 50vh;
  }
  
  #container{
      margin-top: -10vh;
  }
  
  .repas{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .menu_tab{
    width: 400px;
  }

  .foot_liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

}